<h1 align="center"> Top: </h1>
<div align="center" >
  <%= will_paginate @tops%>
  <% @tops.each do |photo| %>
    <div class="row">
      <div class="well col-md-8 col-md-offset-4">
        <div class="photo-name">
          <h2><%= photo.user.name %></h2>
        </div>
        <div class="photo-source">
          <%= image_tag(photo.source_url(:thumb)) %>
        </div>
        <div class="photo-rating">
          <h3>Rating: <%= photo.rating %></h3>
        </div>
      </div>
    </div>
  <% end %>
  <%= will_paginate @tops %>
</div>
