<%= form_for(@photo, url: photo_path) do |f| %>
  <label>My Photo</label>
  <%= image_tag(@photo.source_url(:thumb)) if @photo.source? %>
  <%= f.file_field :source %>
  <%= f.hidden_field :source_cache %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
